In [ ]:
print('test')

test

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.read_csv("/content/scientists.csv")
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [10]:
# google drive에서 파일을 읽어오는 경우

In [11]:
# colab이 설치되어있는 리눅스에 구글 드라이브를 연결해야함
# 연결 == mount(마운트)

In [12]:
from google.colab import drive

In [14]:
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
df2 = pd.read_csv('/content/drive/MyDrive/python-data/scientists.csv')