In [1]:
import surprise

In [8]:
print(surprise.__version__)

1.1.1

In [9]:
## 고유값(특이값)분해 방법
from surprise import SVD
## SGD(Stochastic 통계적인 Gradient 경사 하강법)

In [5]:
## 고유값분해(행렬을 더 낮은 차원으로 분해)해서 다시 원본으로 살리면서 잠재적인 값을 추론하는 방법
from surprise import Dataset, Reader ## SVD를 사용하기 위한 데이터셋 만들어주는 클래스
                            ## 사용자, 아이템, 평점
from surprise import accuracy ## RMSE, MAE, cross-validation(k-fold)
from surprise.model_selection import train_test_split ## 훈련/검증 데이터 분류

In [11]:
## 1. 데이터셋을 만들어주자(사용자, 아이템, 평점),  훈련/검증 데이터 분류
data = Dataset.load_builtin('ml-100k')
data

In [13]:
trainset, testset = train_test_split(data, test_size= 0.25, random_state=0)
trainset

In [20]:
testset[:10]

[('120', '282', 4.0),
 ('882', '291', 4.0),
 ('535', '507', 5.0),
 ('697', '244', 5.0),
 ('751', '385', 4.0),
 ('219', '82', 1.0),
 ('279', '571', 4.0),
 ('429', '568', 3.0),
 ('456', '100', 3.0),
 ('249', '23', 4.0)]

In [15]:
## 2. SVD() 모델 선정
algo = SVD()

In [16]:
## 3. 훈련용 데이터로 fit()
algo.fit(trainset)

In [22]:
## 4. 검증용 데이터로 예측
prediction = algo.test(testset)[1]
prediction ## 하나의 영화에 대한 예측값은 Prediction객체!

Prediction(uid='882', iid='291', r_ui=4.0, est=3.719524013468171, details={'was_impossible': False})

In [23]:
predictions = algo.test(testset)[:10]
predictions ## 하나의 영화에 대한 예측값은 Prediction객체!

[Prediction(uid='120', iid='282', r_ui=4.0, est=3.5663858906270725, details={'was_impossible': False}),
 Prediction(uid='882', iid='291', r_ui=4.0, est=3.719524013468171, details={'was_impossible': False}),
 Prediction(uid='535', iid='507', r_ui=5.0, est=4.251826508012287, details={'was_impossible': False}),
 Prediction(uid='697', iid='244', r_ui=5.0, est=3.5505727106131095, details={'was_impossible': False}),
 Prediction(uid='751', iid='385', r_ui=4.0, est=3.4917541581066307, details={'was_impossible': False}),
 Prediction(uid='219', iid='82', r_ui=1.0, est=3.835783265664582, details={'was_impossible': False}),
 Prediction(uid='279', iid='571', r_ui=4.0, est=2.8106257396246694, details={'was_impossible': False}),
 Prediction(uid='429', iid='568', r_ui=3.0, est=3.278402420755893, details={'was_impossible': False}),
 Prediction(uid='456', iid='100', r_ui=3.0, est=4.160534835148915, details={'was_impossible': False}),
 Prediction(uid='249', iid='23', r_ui=4.0, est=4.618603918289853, details={'was_impossible': False})]

In [33]:
print('userid:' + prediction.uid, ', iid:' + prediction.iid, '==> est:', prediction.est)

userid:882 , iid:291 ==> est: 3.719524013468171

In [34]:
for i in predictions:
    print('userid:' + i.uid, ', iid:' + i.iid, '==> est:', i.est)

userid:120 , iid:282 ==> est: 3.5663858906270725
userid:882 , iid:291 ==> est: 3.719524013468171
userid:535 , iid:507 ==> est: 4.251826508012287
userid:697 , iid:244 ==> est: 3.5505727106131095
userid:751 , iid:385 ==> est: 3.4917541581066307
userid:219 , iid:82 ==> est: 3.835783265664582
userid:279 , iid:571 ==> est: 2.8106257396246694
userid:429 , iid:568 ==> est: 3.278402420755893
userid:456 , iid:100 ==> est: 4.160534835148915
userid:249 , iid:23 ==> est: 4.618603918289853

In [35]:
## 5. 정확도 계산

In [36]:
## 6. 사용자, 아이템정보 주고 예측 실행
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
pred

Prediction(uid='196', iid='302', r_ui=None, est=4.156486414813928, details={'was_impossible': False})

In [42]:
import pandas as pd

In [38]:
## csv를 SVD하기 위한 DataSet를 주기 위해서는
## 1) df <--- csv, 2) DataSet <--- df

In [39]:
result2 = algo.test(testset)

In [40]:
len(result2)

25000

In [43]:
movies = pd.read_csv('./movie-ratings-data/movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [44]:
ratings = pd.read_csv('./movie-ratings-data/ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [49]:
movie_list_uid9 = ratings[ratings['userId'] == 9]
movie_list_uid9

      userId  movieId  rating   timestamp
1073       9       41     3.0  1044656650
1074       9      187     3.0  1044657119
1075       9      223     4.0  1044656650
1076       9      371     3.0  1044656716
1077       9      627     3.0  1044657102
1078       9      922     4.0  1044657026
1079       9      923     5.0  1044657026
1080       9     1037     2.0  1044656650
1081       9     1095     4.0  1044657088
1082       9     1198     5.0  1044656716
1083       9     1270     5.0  1044657088
1084       9     1674     4.0  1044656650
1085       9     1987     2.0  1044656716
1086       9     2011     3.0  1044657200
1087       9     2012     4.0  1044657237
1088       9     2023     3.0  1044656650
1089       9     2300     5.0  1044657072
1090       9     2877     3.0  1044657221
1091       9     2901     2.0  1044656716
1092       9     3173     2.0  1044656650
1093       9     3328     3.0  1044656650
1094       9     3735     3.0  1044657051
1095       9     4131     1.0  1044657221
1096       9     4558     1.0  1044656650
1097       9     4993     5.0  1044657051
1098       9     5218     4.0  1044656811
1099       9     5378     3.0  1044656811
1100       9     5445     4.0  1044656792
1101       9     5447     4.0  1044656836
1102       9     5451     4.0  1044656836
1103       9     5481     5.0  1044656836
1104       9     5507     1.0  1044656836
1105       9     5841     1.0  1044657318
1106       9     5843     3.0  1044657269
1107       9     5872     3.0  1044656962
1108       9     5890     4.0  1044656792
1109       9     5891     1.0  1044657318
1110       9     5893     4.0  1044657144
1111       9     5902     5.0  1044656934
1112       9     5952     5.0  1044656908
1113       9     5956     4.0  1044656962
1114       9     5962     1.0  1044657338
1115       9     5965     4.0  1044657185
1116       9     5988     2.0  1044657269
1117       9     6001     4.0  1044657072
1118       9     6044     2.0  1044657285

In [53]:
movie_list_uid9.shape ## uid가 인 사람은 46개의 영화를 보았음

(46, 4)

In [54]:
## 안본 영화중에서 추천을 하려고 함

In [64]:
## 1) 전체 영화수
movie_count = movies.shape[0]
movie_count
## 9742개

9742

In [65]:
## 2) 평점 매긴 영화수
rat_uid9_count = movie_list_uid9.shape[0]
rat_uid9_count
# 46개

46

In [66]:
## 3) 보지 않은 영화수(추천 대상 영화수)
movie_count - rat_uid9_count

9696

In [68]:
movie_list_uid9[movie_list_uid9['movieId']==42] ## 42번은 평점의 기록이 없음.

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [70]:
## 42번 영화는 어떤 영화였을까?
movies[movies['movieId']==42]

    movieId                   title              genres
38       42  Dead Presidents (1995)  Action|Crime|Drama

In [73]:
uid = 9
iid = 42

In [74]:
pred = algo.predict(uid, iid, verbose=True)
pred

user: 9          item: 42         r_ui = None   est = 3.53   {'was_impossible': False}

Prediction(uid=9, iid=42, r_ui=None, est=3.52804, details={'was_impossible': False})

In [75]:
## 같은 장르의 영화들의 개수를 구해보세요.
## 평점이 제일 높은 영화

In [80]:
movies[movies['movieId']==42]['genres']

38    Action|Crime|Drama
Name: genres, dtype: object

In [91]:
genre = movies.loc[movies['movieId']==42]['genres']
same_genre = movies[movies['genres']=='Action|Crime|Drama']
same_genre.shape

(50, 3)

In [109]:
rlist = {}
for movieId in same_genre['movieId']:
    mrlist = []
    mrlist.append(ratings[ratings['movieId']==movieId]['rating'])
    rlist[movieId]=mrlist
rlist

{42: [34913    4.0
  55402    2.0
  62318    2.0
  85122    4.0
  90430    3.0
  92168    3.0
  92647    3.0
  Name: rating, dtype: float64],
 384: [14194    3.5
  21882    3.0
  Name: rating, dtype: float64],
 390: [19960    2.0
  27557    4.5
  59285    3.0
  61428    4.0
  96201    5.0
  Name: rating, dtype: float64],
 493: [776      3.0
  1283     3.0
  8029     4.0
  26183    3.5
  38700    3.0
  39320    3.5
  44033    3.0
  62513    4.0
  65315    4.0
  67521    4.0
  79424    4.0
  92217    5.0
  Name: rating, dtype: float64],
 694: [825      3.0
  4989     3.0
  31010    3.0
  38708    1.0
  62578    3.0
  71278    4.0
  79344    3.0
  82193    3.0
  84616    4.0
  92895    2.5
  98802    3.0
  Name: rating, dtype: float64],
 875: [10507    3.5
  Name: rating, dtype: float64],
 2194: [1727     4.0
  1920     3.5
  3848     3.0
  4343     3.5
  5327     2.5
          ...
  93338    3.0
  96613    4.0
  97729    4.0
  98592    5.0
  99024    3.5
  Name: rating, Length: 65, dtype: float64],
 2281: [93355    2.5
  Name: rating, dtype: float64],
 3430: [7650     4.0
  29740    3.0
  31470    2.0
  55790    3.0
  Name: rating, dtype: float64],
 3442: [85785    1.0
  Name: rating, dtype: float64],
 4065: [59815    2.5
  Name: rating, dtype: float64],
 4203: [10224    4.0
  35099    4.0
  63631    3.0
  65706    4.0
  69312    2.0
  93825    2.0
  Name: rating, dtype: float64],
 4262: [1966     4.0
  3949     4.0
  5736     2.0
  6283     5.0
  7686     5.0
          ...
  91000    4.5
  93835    3.5
  97973    4.0
  99245    4.0
  99815    4.5
  Name: rating, Length: 67, dtype: float64],
 4344: [3146     3.5
  4449     1.0
  7694     3.0
  9295     4.0
  10988    3.5
  12872    3.5
  16386    3.0
  18572    4.0
  26782    2.5
  28262    3.0
  28830    3.0
  31806    2.5
  33364    3.0
  34086    4.0
  36651    3.5
  37777    4.0
  39896    3.5
  42898    3.0
  44803    2.0
  53741    4.0
  57374    3.0
  60850    2.0
  61612    4.0
  63676    4.0
  66228    0.5
  67903    3.5
  69338    2.0
  71131    4.0
  77603    2.5
  84469    4.0
  91007    3.0
  93849    2.5
  99252    4.5
  99822    2.5
  Name: rating, dtype: float64],
 4466: [6297     2.0
  39133    3.0
  Name: rating, dtype: float64],
 4488: [63710    4.0
  76191    3.0
  97002    3.0
  Name: rating, dtype: float64],
 4572: [10232    4.0
  63726    3.0
  98009    2.0
  Name: rating, dtype: float64],
 5521: [63978    4.0
  94045    2.5
  Name: rating, dtype: float64],
 6051: [15014    5.0
  47977    4.5
  94104    3.0
  Name: rating, dtype: float64],
 6057: [34181    2.0
  Name: rating, dtype: float64],
 6484: [12921    3.5
  21591    2.5
  34209    3.0
  36730    3.0
  75839    3.5
  76797    2.5
  94138    2.5
  Name: rating, dtype: float64],
 7047: [94232    2.5
  Name: rating, dtype: float64],
 7056: [32531    4.5
  91104    4.0
  Name: rating, dtype: float64],
 7108: [94238     3.0
  100004    3.5
  Name: rating, dtype: float64],
 26159: [94355     3.5
  100074    4.0
  Name: rating, dtype: float64],
 26169: [100075    5.0
  Name: rating, dtype: float64],
 26322: [32746    3.5
  43763    3.0
  66978    4.0
  94362    2.0
  Name: rating, dtype: float64],
 26464: [69644    3.0
  Name: rating, dtype: float64],
 31101: [4578     3.0
  64390    4.0
  Name: rating, dtype: float64],
 33132: [40248    1.5
  Name: rating, dtype: float64],
 34534: [21660     4.5
  34422     3.0
  40265     3.5
  47557     3.5
  57670     4.0
  64431     3.5
  100143    3.0
  Name: rating, dtype: float64],
 36931: [100149    3.5
  Name: rating, dtype: float64],
 38095: [86398     4.0
  94510     3.5
  100157    5.0
  Name: rating, dtype: float64],
 49314: [47617    3.0
  Name: rating, dtype: float64],
 57843: [53143    4.5
  Name: rating, dtype: float64],
 73876: [100425    4.0
  Name: rating, dtype: float64],
 80124: [16713    5.0
  Name: rating, dtype: float64],
 81520: [100472    4.0
  Name: rating, dtype: float64],
 82744: [57876    5.0
  Name: rating, dtype: float64],
 85342: [33623    5.0
  46446    4.0
  49660    4.5
  50593    4.5
  52293    4.0
  53171    3.5
  83400    5.0
  Name: rating, dtype: float64],
 99005: [70099    1.5
  Name: rating, dtype: float64],
 99728: [2201     3.5
  37234    4.0
  70106    2.5
  Name: rating, dtype: float64],
 109569: [55121    1.5
  88034    0.5
  Name: rating, dtype: float64],
 110826: [70227    1.5
  Name: rating, dtype: float64],
 113416: [70261    1.5
  Name: rating, dtype: float64],
 119218: [94985    2.5
  Name: rating, dtype: float64],
 120783: [70317    2.5
  Name: rating, dtype: float64],
 144352: [81921    0.5
  Name: rating, dtype: float64],
 160527: [100821    4.5
  Name: rating, dtype: float64],
 169992: [64968    3.5
  Name: rating, dtype: float64]}

In [93]:
same_genre['movieId']

38          42
341        384
347        390
430        493
568        694
665        875
1645      2194
1696      2281
2563      3430
2574      3442
3037      4065
3124      4203
3167      4262
3217      4344
3301      4466
3316      4488
3364      4572
3925      5521
4194      6051
4196      6057
4406      6484
4725      7047
4734      7056
4775      7108
5465     26159
5466     26169
5488     26322
5510     26464
5759     31101
5877     33132
5963     34534
5991     36931
6017     38095
6353     49314
6678     57843
7242     73876
7404     80124
7451     81520
7491     82744
7554     85342
8057     99005
8077     99728
8377    109569
8419    110826
8495    113416
8640    119218
8653    120783
9103    144352
9330    160527
9486    169992
Name: movieId, dtype: int64

In [ ]:
ratings.loc[same_genre['rating'].idxmax()]

In [92]:
same_genre

,movieId,title,genres
38,42,Dead Presidents (1995),Action|Crime|Drama
341,384,Bad Company (1995),Action|Crime|Drama
347,390,Faster Pussycat! Kill! Kill! (1965),Action|Crime|Drama
430,493,Menace II Society (1993),Action|Crime|Drama
568,694,"Substitute, The (1996)",Action|Crime|Drama
665,875,Nothing to Lose (1994),Action|Crime|Drama
1645,2194,"Untouchables, The (1987)",Action|Crime|Drama
1696,2281,Monument Ave. (1998),Action|Crime|Drama
2563,3430,Death Wish (1974),Action|Crime|Drama
2574,3442,Band of the Hand (1986),Action|Crime|Drama
3037,4065,Foxy Brown (1974),Action|Crime|Drama
3124,4203,Harley Davidson and the Marlboro Man (1991),Action|Crime|Drama
3167,4262,Scarface (1983),Action|Crime|Drama
3217,4344,Swordfish (2001),Action|Crime|Drama
3301,4466,Above the Law (1988),Action|Crime|Drama
3316,4488,Colors (1988),Action|Crime|Drama
3364,4572,Black Rain (1989),Action|Crime|Drama
3925,5521,"Principal, The (1987)",Action|Crime|Drama
4194,6051,"Harder They Come, The (1973)",Action|Crime|Drama
4196,6057,Biker Boyz (2003),Action|Crime|Drama
4406,6484,Hollywood Homicide (2003),Action|Crime|Drama
4725,7047,Year of the Dragon (1985),Action|Crime|Drama
4734,7056,"Public Enemy, The (1931)",Action|Crime|Drama
4775,7108,Crime Story (Zhong an zu) (1993),Action|Crime|Drama
5465,26159,Tokyo Drifter (Tôkyô nagaremono) (1966),Action|Crime|Drama
5466,26169,Branded to Kill (Koroshi no rakuin) (1967),Action|Crime|Drama
5488,26322,Gone in 60 Seconds (1974),Action|Crime|Drama
5510,26464,Blue Thunder (1983),Action|Crime|Drama
5759,31101,Stander (2003),Action|Crime|Drama
5877,33132,State Property 2 (2005),Action|Crime|Drama
5963,34534,Four Brothers (2005),Action|Crime|Drama
5991,36931,New Police Story (Xin jing cha gu shi) (2004),Action|Crime|Drama
6017,38095,"Bittersweet Life, A (Dalkomhan insaeng) (2005)",Action|Crime|Drama
6353,49314,Harsh Times (2006),Action|Crime|Drama
6678,57843,Rise of the Footsoldier (2007),Action|Crime|Drama
7242,73876,Undisputed II: Last Man Standing (2006),Action|Crime|Drama
7404,80124,Sisters (Syostry) (2001),Action|Crime|Drama
7451,81520,Undisputed III: Redemption (2010),Action|Crime|Drama
7491,82744,Faster (2010),Action|Crime|Drama
7554,85342,Elite Squad: The Enemy Within (Tropa de Elite ...,Action|Crime|Drama
8057,99005,Fire with Fire (2012),Action|Crime|Drama
8077,99728,Gangster Squad (2013),Action|Crime|Drama
8377,109569,3 Days to Kill (2014),Action|Crime|Drama
8419,110826,Brick Mansions (2014),Action|Crime|Drama
8495,113416,Revenge of the Green Dragons (2014),Action|Crime|Drama
8640,119218,The Punisher: Dirty Laundry (2012),Action|Crime|Drama
8653,120783,Son of a Gun (2014),Action|Crime|Drama
9103,144352,Unforgiven (2013),Action|Crime|Drama
9330,160527,Sympathy for the Underdog (1971),Action|Crime|Drama
9486,169992,Free Fire (2017),Action|Crime|Drama

In [110]:
## csv로 fit를 시킬 경우, 
## csv를 읽어서 fit시킬 수 있는 형태의 객체로 만들어주어야 하고,
## train, testset으로 split

In [112]:
reader = Reader(rating_scale=(0.5, 5.0)) ## 0.5단위

In [114]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data

In [115]:
trainset, testset = train_test_split(data, test_size=0.25, random_state=0)
trainset

In [116]:
testset[0]

(63, 2000, 3.0)

In [117]:
algo.fit(trainset)

In [120]:
predictions3 = algo.test(testset)
predictions3[:3]

[Prediction(uid=63, iid=2000, r_ui=3.0, est=3.4541541785927645, details={'was_impossible': False}),
 Prediction(uid=31, iid=788, r_ui=2.0, est=3.391011770786176, details={'was_impossible': False}),
 Prediction(uid=159, iid=6373, r_ui=4.0, est=2.5588482925388347, details={'was_impossible': False})]

In [122]:
accuracy.rmse(predictions3)

RMSE: 0.8680

0.8680461105835837

In [123]:
## 프로젝트에 적용하려면,
## 1) 파일3개를 df에 읽어들인다.
## 2) ratings 항목이 들어있는 df을 SVD객체로 fit()
## userID, productId, 구매량(2조)
## userId, tourId, 
## 3) user information table, item information table
## 추천할 대상이 너무 많기 때문에 대상을 줄이기 위해
## 사용자 유사도 측정, 상품 유사도 축정
## (비지니스적인 룰을 정해서 추천을 함)