In [27]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm

from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
%matplotlib inline

# 주요 라이브러리 import

from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier

In [28]:
df = pd.read_csv('2021_여행지데이터.csv', encoding='utf-8')
df

,id,lclas,mlsfc,id_poi,poi_nm,branch_nm,sub_nm,mcate_cd,mcate_nm,pnu,...,rd_cd,rd_nm,bld_num,x,y,grid_cd,lst_updt_dt,data_orgn,FILE_NAME,base_ymd
0,KCLANPO21N000000001,장소,관광지,549380,구절리역(폐역),NaN,NaN,60513,일반관광지,4.277037e+18,...,4.277030e+11,노추산로,745,128.728175,37.516933,마사085471,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
1,KCLANPO21N000000002,장소,관광지,808576,만년저수지,NaN,NaN,110215,지역호수/저수지,4.682038e+18,...,NaN,NaN,NaN,126.573375,34.666554,다라151306,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
2,KCLANPO21N000000003,장소,관광지,808705,대암소류지,NaN,NaN,110215,지역호수/저수지,4.817042e+18,...,NaN,NaN,NaN,128.079709,35.272747,라라527976,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
3,KCLANPO21N000000004,장소,관광지,808746,대양소류지,NaN,NaN,110215,지역호수/저수지,4.372034e+18,...,NaN,NaN,NaN,127.782340,36.413646,라바253240,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
4,KCLANPO21N000000005,장소,관광지,809458,대장저수지,NaN,NaN,110215,지역호수/저수지,4.691038e+18,...,NaN,NaN,NaN,126.084570,34.598860,나라702236,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38435,KCLANPO21N000038436,장소,관광지,21948792,쌍계사수목장림,NaN,NaN,60503,휴양림/수목원,4.127311e+18,...,4.127332e+11,대부황금로,1171,126.578468,37.263502,다사182186,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
38436,KCLANPO21N000038437,장소,관광지,21960254,파주눈내리는초리골축제,NaN,NaN,60523,지역축제,4.148026e+18,...,4.148044e+11,초리골길,138-9,126.890684,37.852185,다사463837,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
38437,KCLANPO21N000038438,장소,관광지,22051690,토리딸기팜,NaN,NaN,60516,관광농원/허브마을,4.812125e+18,...,4.812148e+11,무점길,34-18,128.692131,35.286686,마라084996,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
38438,KCLANPO21N000038439,장소,관광지,22113578,고성만해지개길,NaN,NaN,60517,먹거리/패션거리,4.882031e+18,...,NaN,NaN,NaN,128.310402,34.944001,라라740613,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916
38439,KCLANPO21N000038440,장소,관광지,22146369,청파관광농원,NaN,NaN,60516,관광농원/허브마을,4.784033e+18,...,4.784048e+11,신정3길,2-19,128.198205,35.853747,라마630621,20210916170801,KT,KC_495_LLR_ATRCTN_2021,20210916

In [29]:
df['mcate_nm'].value_counts()

지역호수/저수지        12661
지역사찰            11314
일반관광지            2878
지역축제             2555
토속/특산물/기념품매장     1984
먹거리/패션거리         1393
폭포/계곡             939
관광농원/허브마을         888
서원/향교/서당          839
휴양림/수목원           584
해수욕장              576
일반유원지/일반놀이공원      530
유명사찰              396
유명관광지             315
테마공원/대형놀이공원       264
식물원               147
동물원                50
대형호수/저수지           47
숲                  32
아쿠아리움/대형수족관        30
카지노                11
파라다이스카지노            4
세븐럭카지노              3
Name: mcate_nm, dtype: int64

In [30]:
# 지역호수/저수지        12661           1
# 지역사찰            11314            1
# 일반관광지            2878           1
# 지역축제             2555           4
# 토속/특산물/기념품매장     1984         3
# 먹거리/패션거리         1393          3
# 폭포/계곡             939           2
# 관광농원/허브마을         888          2
# 서원/향교/서당          839           4
# 휴양림/수목원           584           4
# 해수욕장              576            2
# 일반유원지/일반놀이공원      530         2
# 유명사찰              396            4
# 유명관광지             315           4
# 테마공원/대형놀이공원       264         2
# 식물원               147            4
# 동물원                50            4
# 대형호수/저수지           47          1
# 숲                  32            1
# 아쿠아리움/대형수족관        30        2
# 카지노                11           2
# 파라다이스카지노            4         2
# 세븐럭카지노              3          2

In [31]:
list1 = ['지역호수/저수지', '지역사찰', '일반관광지', '대형호수/저수지', '숲']
list2 = ['폭포/계곡', '관광농원/허브마을', '해수욕장', '일반유원지/일반놀이공원', '테마공원/대형놀이공원', '아쿠아리움/대형수족관', '카지노', '파라다이스카지노', '세븐럭카지노']
list3 = ['토속/특산물/기념품매장', '먹거리/패션거리']
list4 = ['지역축제', '서원/향교/서당', '휴양림/수목원', '유명사찰', '유명관광지', '식물원', '동물원']

In [32]:
for index in df.index:
    if df.loc[index,'mcate_nm'] in list1:
        df.loc[index,'target']='힐링, 호캉스'
    elif df.loc[index,'mcate_nm'] in list2:
        df.loc[index,'target']='액티비티'
    elif df.loc[index,'mcate_nm'] in list3:
        df.loc[index,'target']='식도락, 맛집투어'
    elif df.loc[index,'mcate_nm'] in list4:
        df.loc[index,'target']='축제, 관광'

In [33]:
df.columns

Index(['id', 'lclas', 'mlsfc', 'id_poi', 'poi_nm', 'branch_nm', 'sub_nm',
       'mcate_cd', 'mcate_nm', 'pnu', 'sido_nm', 'sgg_nm', 'bemd_nm', 'ri_nm',
       'beonji', 'badm_cd', 'hadm_cd', 'rd_cd', 'rd_nm', 'bld_num', 'x', 'y',
       'grid_cd', 'lst_updt_dt', 'data_orgn', 'FILE_NAME', 'base_ymd',
       'target'],
      dtype='object')

In [34]:
use_col = ['poi_nm', 'x', 'y', 'target']

In [35]:
df1 = df[use_col]
df1

            poi_nm           x          y     target
0         구절리역(폐역)  128.728175  37.516933    힐링, 호캉스
1            만년저수지  126.573375  34.666554    힐링, 호캉스
2            대암소류지  128.079709  35.272747    힐링, 호캉스
3            대양소류지  127.782340  36.413646    힐링, 호캉스
4            대장저수지  126.084570  34.598860    힐링, 호캉스
...            ...         ...        ...        ...
38435      쌍계사수목장림  126.578468  37.263502     축제, 관광
38436  파주눈내리는초리골축제  126.890684  37.852185     축제, 관광
38437        토리딸기팜  128.692131  35.286686       액티비티
38438      고성만해지개길  128.310402  34.944001  식도락, 맛집투어
38439       청파관광농원  128.198205  35.853747       액티비티

[38440 rows x 4 columns]

In [36]:
df1.rename(columns={'poi_nm':'place_info'}, inplace=True)
df1

        place_info           x          y     target
0         구절리역(폐역)  128.728175  37.516933    힐링, 호캉스
1            만년저수지  126.573375  34.666554    힐링, 호캉스
2            대암소류지  128.079709  35.272747    힐링, 호캉스
3            대양소류지  127.782340  36.413646    힐링, 호캉스
4            대장저수지  126.084570  34.598860    힐링, 호캉스
...            ...         ...        ...        ...
38435      쌍계사수목장림  126.578468  37.263502     축제, 관광
38436  파주눈내리는초리골축제  126.890684  37.852185     축제, 관광
38437        토리딸기팜  128.692131  35.286686       액티비티
38438      고성만해지개길  128.310402  34.944001  식도락, 맛집투어
38439       청파관광농원  128.198205  35.853747       액티비티

[38440 rows x 4 columns]

In [42]:
df1['target']=df1['target'].astype('category')

In [46]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38440 entries, 0 to 38439
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   place_info  38440 non-null  object
 1   x           38440 non-null  float64
 2   y           38440 non-null  float64
 3   target      38440 non-null  category
dtypes: category(1), float64(2), object(1)
memory usage: 938.8+ KB

In [44]:
df1['target'].value_counts()

힐링, 호캉스      26932
축제, 관광        4886
식도락, 맛집투어     3377
액티비티          3245
Name: target, dtype: int64

In [45]:
df1.to_csv('place.csv')