In [2]:
# 1. df로 읽어들이고
# 2. df의 전체 데이터셋을 확인
# 3. df의 컬럼리스트를 확인
# 4. df의 값을 확인
# 5. df의 맨 마지막에 price항목을 추가(값은 임의대로 넣음.int)
# 6. df의 맨 마지막에 percent항목을 추가(값은 임의대로 넣음. float)
# 7. df의 맨 마지막에 sale항목을 추가(price * percent)
# 8. df의 Name컬럼 추출
# 9. df의 인덱스 확인
# 10. df의 Name컬럼의 값이 Rosaline인 행 추출
# 11. df의 Name 컬럼 중 3~5사이의 행 추출
# 12. df의 Name, Died컬럼 모든 행 추출
# 13. df의 Born 컬럼부터 끝컬럼까지 모든 행 추출
# 14. df의 Born, Age컬럼의 5~7행 추출
# 15. df.shape을 통해 몇행 몇열인지 확인해보세요.
# 16. df의 숫자 데이터의 상세정보 확인
# 17. Nurse라는 스트링 추출(index와 컬럼명을 사용)
# 18. Alan Turing이라는 스트링 추출(index와 컬럼명을 사용)
# 19. Biologist를 Scientist로 변경
# 20. df의 변경된 내용은 수시로 프린트해볼 것

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(pd.read_csv('scientists.csv', encoding='utf8'))
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [4]:
df.dtypes

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [5]:
df.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [6]:
df.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [7]:
import random
price_list = []
percent_list = []
for i in range(len(df)):
    price_list.append(random.randint(1,100)*1000)
    percent_list.append(random.randrange(0,100)/100)
df['price']=price_list
df['percent']=percent_list

In [8]:
df

,Name,Born,Died,Age,Occupation,price,percent
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,80000,0.42
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,60000,0.61
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,18000,0.91
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,64000,0.48
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,51000,0.22
5,John Snow,1813-03-15,1858-06-16,45,Physician,60000,0.50
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,55000,0.78
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,13000,0.15

In [9]:
df['sale'] = df['price']*df['percent']
df

,Name,Born,Died,Age,Occupation,price,percent,sale
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,80000,0.42,33600.0
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,60000,0.61,36600.0
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,18000,0.91,16380.0
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,64000,0.48,30720.0
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,51000,0.22,11220.0
5,John Snow,1813-03-15,1858-06-16,45,Physician,60000,0.50,30000.0
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,55000,0.78,42900.0
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,13000,0.15,1950.0

df['Name']

In [12]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [13]:
df['Name'].str.contains('Rosaline')

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: Name, dtype: bool

In [14]:
df['Name']

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [15]:
df.index[df['Name'].str.contains('Rosaline')]

Int64Index([0], dtype='int64')

In [16]:
df.loc[df['Name'].str.contains('Rosaline')]

,Name,Born,Died,Age,Occupation,price,percent,sale
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,80000,0.42,33600.0

In [15]:
df.loc[3:5]

,Name,Born,Died,Age,Occupation,price,percent,sale
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,79000,0.04,3160.0
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,94000,0.87,81780.0
5,John Snow,1813-03-15,1858-06-16,45,Physician,94000,0.78,73320.0

In [16]:
df['Name'], df['Died']

(0       Rosaline Franklin
 1          William Gosset
 2    Florence Nightingale
 3             Marie Curie
 4           Rachel Carson
 5               John Snow
 6             Alan Turing
 7            Johann Gauss
 Name: Name, dtype: object, 0    1958-04-16
 1    1937-10-16
 2    1910-08-13
 3    1934-07-04
 4    1964-04-14
 5    1858-06-16
 6    1954-06-07
 7    1855-02-23
 Name: Died, dtype: object)

In [17]:
df.loc[:,'Name'], df.loc[:,'Died']

(0       Rosaline Franklin
 1          William Gosset
 2    Florence Nightingale
 3             Marie Curie
 4           Rachel Carson
 5               John Snow
 6             Alan Turing
 7            Johann Gauss
 Name: Name, dtype: object, 0    1958-04-16
 1    1937-10-16
 2    1910-08-13
 3    1934-07-04
 4    1964-04-14
 5    1858-06-16
 6    1954-06-07
 7    1855-02-23
 Name: Died, dtype: object)

In [18]:
df.loc[:,'Born':]

         Born        Died  Age          Occupation   price  percent     sale
0  1920-07-25  1958-04-16   37             Chemist   11000     0.18   1980.0
1  1876-06-13  1937-10-16   61        Statistician   34000     0.38  12920.0
2  1820-05-12  1910-08-13   90               Nurse   91000     0.54  49140.0
3  1867-11-07  1934-07-04   66             Chemist   79000     0.04   3160.0
4  1907-05-27  1964-04-14   56           Biologist   94000     0.87  81780.0
5  1813-03-15  1858-06-16   45           Physician   94000     0.78  73320.0
6  1912-06-23  1954-06-07   41  Computer Scientist   31000     0.68  21080.0
7  1777-04-30  1855-02-23   77       Mathematician  100000     0.87  87000.0

In [19]:
df.loc[5:7,'Born':'Age']

         Born        Died  Age
5  1813-03-15  1858-06-16   45
6  1912-06-23  1954-06-07   41
7  1777-04-30  1855-02-23   77

In [20]:
df.shape

(8, 8)

In [21]:
df.describe()

             Age          price   percent          sale
count   8.000000       8.000000  8.000000      8.000000
mean   59.125000   66750.000000  0.542500  41297.500000
std    18.325918   35431.019501  0.316262  35914.305049
min    37.000000   11000.000000  0.040000   1980.000000
25%    44.000000   33250.000000  0.330000  10480.000000
50%    58.500000   85000.000000  0.610000  35110.000000
75%    68.750000   94000.000000  0.802500  75435.000000
max    90.000000  100000.000000  0.870000  87000.000000

In [22]:
df

,Name,Born,Died,Age,Occupation,price,percent,sale
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,11000,0.18,1980.0
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,34000,0.38,12920.0
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,91000,0.54,49140.0
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,79000,0.04,3160.0
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,94000,0.87,81780.0
5,John Snow,1813-03-15,1858-06-16,45,Physician,94000,0.78,73320.0
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,31000,0.68,21080.0
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,100000,0.87,87000.0

In [23]:
df.loc[2,'Occupation']

'Nurse'

In [24]:
df.loc[6,'Name']

'Alan Turing'

In [25]:
df.loc[4,'Occupation'] ='Scientist'
df

,Name,Born,Died,Age,Occupation,price,percent,sale
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,11000,0.18,1980.0
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,34000,0.38,12920.0
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,91000,0.54,49140.0
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,79000,0.04,3160.0
4,Rachel Carson,1907-05-27,1964-04-14,56,Scientist,94000,0.87,81780.0
5,John Snow,1813-03-15,1858-06-16,45,Physician,94000,0.78,73320.0
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,31000,0.68,21080.0
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,100000,0.87,87000.0

In [26]:
df.count()

Name          8
Born          8
Died          8
Age           8
Occupation    8
price         8
percent       8
sale          8
dtype: int64

In [31]:
df['Occupation'].value_counts

<bound method IndexOpsMixin.value_counts of 0               Chemist
1          Statistician
2                 Nurse
3               Chemist
4             Scientist
5             Physician
6    Computer Scientist
7         Mathematician
Name: Occupation, dtype: object>

In [32]:
df['Occupation'].values

array(['Chemist', 'Statistician', 'Nurse', 'Chemist', 'Scientist',
       'Physician', 'Computer Scientist', 'Mathematician'], dtype=object)

In [33]:
df['Died']

0    1958-04-16
1    1937-10-16
2    1910-08-13
3    1934-07-04
4    1964-04-14
5    1858-06-16
6    1954-06-07
7    1855-02-23
Name: Died, dtype: object

In [35]:
df.loc['Died', 'Occupation']

KeyError: 'Died'

KeyError: 'pclass'

In [36]:
df[['pclass', 'age']].value_counts()

KeyError: "None of [Index(['pclass', 'age'], dtype='object')] are in the [columns]"