In [1]:
def call1(a,b,c):
    print(a,b,c)

In [3]:
call1(10,20,30) #위치 매개변수

10 20 30

In [5]:
def call2(a,b,c=50):
    print(a,b,c)

In [6]:
call2(10,20,30)

10 20 30

In [7]:
call2(10,20)

10 20 50

In [10]:
#default매개변수는 반드시 뒤에다 위치시켜야 한다
# def call3(a=10, b, c): ## 오류!!
def call3(a,b=50, c=100):
    print(a,b,c)

In [11]:
call3(10)

10 50 100

In [12]:
def call4(a,b,c):
    print(a,b,c)

In [15]:
call4(a=100, c=200, b=333) # 키워드 파라메터, 순서 상관x

100 333 200

In [17]:
## 파이썬은 오버라이딩은 지원, 오버로딩은 지원x
## 오버라이딩(재정의): 상속했을 떄 자식클래스의 함수를 재정의하여 기능을 변경
## 오버로딩(다형성): 하나의 이름으로 다양한 형태를 구현할 수 있는 기능
## 자바는 하나의 함수 이름으로 다양한 입력값의 형태를 정의가능
## 자바는 오버로딩 가능
## public void add(int x, int y)
## public void add(int x)

## 파이썬은 오버로딩 불가능
## 입력값으로 튜플과 딕셔너리를 여러개 넣을 수 있기 때문에
## 파이썬의 함수 입력값은 0~ 무한대의 개수를 가지게 정의할 수 있다.
## 가변 매개변수라고 부른다.

In [22]:
def call5(*a, b):
    print(a)
    print(b)

In [28]:
def call6(*a):
    print(a)
# 파이썬에서는 파라메터의 개수가 정확히 몇개인지 확인하려면
# 한수의 정의를 보고 확인해야 한다(shift+tab)

In [29]:
# python.exe프로그램이 한줄을 읽어서 실행을 바로 해준다.
# 번역기

In [26]:
# call5((1,2,3),5) #에러! 
call5((1,2,3),b=5) # 위치 가변 매개변수는 보통 단독으로 많이 쓰임

# 위치 가변 매개변수를 쓸 때는 다른 매개변수는 키워드(파라메터명)을 써주어야 헷갈리지 않는다.

((1, 2, 3),)
5

In [27]:
call6((1,2,3,4,5),(6,7,8)) ## 위치 가변매개변수는 튜플의 튜플도 가능

((1, 2, 3, 4, 5), (6, 7, 8))

In [30]:
def call7(**kwargs):
    print(kwargs)

In [37]:
call7(name='hong', age=100, tel = '010')

{'name': 'hong', 'age': 100, 'tel': '010'}

In [39]:
def call8(*tags, title, content, **kwargs):
    print('tag>>', tags)
    print('title>>', title)
    print('content>>', content)
    print('kwargs>>', kwargs)

In [40]:
## 가변변수와 함께 쓰는 일반변수는 키워드변수로 사용해야 한다.(변수명과 함께 써주어야 한다.)
## 변수명과 함께 써야 한다.

In [41]:
call8('바다', '휴양자', '쉼', 
      title='제주도여행', 
      content='해수욕장으로 고고고!', 
      location = '제주도 북동부', 
      move = '날아서'
     )

tag>> ('바다', '휴양자', '쉼')
title>> 제주도여행
content>> 해수욕장으로 고고고!
kwargs>> {'location': '제주도 북동부', 'move': '날아서'}

In [42]:
## 람다함수

In [43]:
def call9(a):
    b = a-1
    return b

In [45]:
## 함수의 4개 조건
## 함수이름(입력값): call9(a)
## 함수처리 내용(a-1)
## 함수 처리 결과 리턴값(b)

## 람다 함수의 3대 조건
## (입력값):
## 함수 처리 내용
## 함수 처리 결과 리턴값

In [46]:
## [list coomprehension] => 익명함수의 일종

In [47]:
# lambda #=> 익명함수의 일종
lambda a:a-1

In [52]:
(lambda a:a-1)(10)

9

In [53]:
a_fun = lambda a:a-1

In [54]:
a_fun(10)

9

In [56]:
lambda a : True if a > 0 else False

In [62]:
true_fun = lambda a : True if a > 0 else False

In [63]:
true_fun(0)

False

In [64]:
# 입력값이 양수이면 1, 음수이면 0

In [65]:
pos_neg = lambda a: 1 if a>=0 else 0

In [68]:
pos_neg(-1)

0

In [71]:
# 입력값을 2개 넣어 더해보세요
add_two = lambda a, b: a+b
add_two(1,2)

3

In [ ]:
# 입력값이 2개의 리스트가 되도록 해보세요
two_list = lambda

In [72]:
## one_fun, one_fun2를 일반함수로 변경해보세요

In [73]:
# 데이터분석에서 있어서 핵심은 df
# 람다를 df를 다룰 때 어떻게 사용해야 하는가?

In [88]:
import time
from IPython.display import Image
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler # 표준화(평균을 기준)
from sklearn.preprocessing import MinMaxScaler # 정규화(정해진 규칙 기준, mix-max기준)
from sklearn.datasets import load_iris
# cross_val_score: 다양한 샘플링으 ㄹ해서 여러번 테스트 --> 평균치를 구해본다.!
from sklearn.metrics import *
%matplotlib inline

# 주요 라이브러리 import

from matplotlib import rc, font_manager
import matplotlib.font_manager as fm

In [105]:
import pandas as pd
df = pd.read_csv('C:/Users/hi/Downloads/body_imperial2.csv',encoding='utf-8')
df

    ID  Gender  Height (Inch)  Weight (Pound)
0    0     NaN      73.847017      241.893563
1    1     NaN      70.000000      200.000000
2    2     NaN      74.110105      212.740856
3    3     NaN      71.730978      220.042470
4    4     NaN      69.881796      206.349801
5    5     NaN      67.253016      152.212156
6    6     NaN      68.785081      183.927889
7    7     NaN      68.348516      167.971110
8    8     NaN      67.018950      175.929440
9    9     NaN      63.456494      156.399676
10  10     NaN      71.195382      186.604926
11  11     NaN      62.636675      102.853563
12  12     NaN      62.077832      138.691680
13  13     NaN      60.030434       97.687432
14  14     NaN      59.098250      110.529686
15  15     NaN      66.172652      136.777454
16  16     NaN      67.067155      170.867906
17  17     NaN      63.867992      128.475319
18  18     NaN      69.034243      163.852461
19  19     NaN      61.944246      113.649103
20  20     NaN      70.000000      200.000000

In [101]:
df.loc[:,'Gender']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
Name: Gender, dtype: float64

In [106]:
# 1. 비만도' column을 추가하고, 모든 ID에 대해 '정상'으로 설정해주세요.
df.loc[:,'비만도'] = '정상'
df

    ID  Gender  Height (Inch)  Weight (Pound) 비만도
0    0     NaN      73.847017      241.893563  정상
1    1     NaN      70.000000      200.000000  정상
2    2     NaN      74.110105      212.740856  정상
3    3     NaN      71.730978      220.042470  정상
4    4     NaN      69.881796      206.349801  정상
5    5     NaN      67.253016      152.212156  정상
6    6     NaN      68.785081      183.927889  정상
7    7     NaN      68.348516      167.971110  정상
8    8     NaN      67.018950      175.929440  정상
9    9     NaN      63.456494      156.399676  정상
10  10     NaN      71.195382      186.604926  정상
11  11     NaN      62.636675      102.853563  정상
12  12     NaN      62.077832      138.691680  정상
13  13     NaN      60.030434       97.687432  정상
14  14     NaN      59.098250      110.529686  정상
15  15     NaN      66.172652      136.777454  정상
16  16     NaN      67.067155      170.867906  정상
17  17     NaN      63.867992      128.475319  정상
18  18     NaN      69.034243      163.852461  정상
19  19     NaN      61.944246      113.649103  정상
20  20     NaN      70.000000      200.000000  정상

In [81]:
# 2.'Gender' column의 값을 ID 0~10까지는 'Male' 11~20까지는 'Female'로 변경하세요.

In [107]:
df.loc[0:11,'Gender'] = 'Male'
df.loc[11:21,'Gender'] = 'Female'
df

    ID  Gender  Height (Inch)  Weight (Pound) 비만도
0    0    Male      73.847017      241.893563  정상
1    1    Male      70.000000      200.000000  정상
2    2    Male      74.110105      212.740856  정상
3    3    Male      71.730978      220.042470  정상
4    4    Male      69.881796      206.349801  정상
5    5    Male      67.253016      152.212156  정상
6    6    Male      68.785081      183.927889  정상
7    7    Male      68.348516      167.971110  정상
8    8    Male      67.018950      175.929440  정상
9    9    Male      63.456494      156.399676  정상
10  10    Male      71.195382      186.604926  정상
11  11  Female      62.636675      102.853563  정상
12  12  Female      62.077832      138.691680  정상
13  13  Female      60.030434       97.687432  정상
14  14  Female      59.098250      110.529686  정상
15  15  Female      66.172652      136.777454  정상
16  16  Female      67.067155      170.867906  정상
17  17  Female      63.867992      128.475319  정상
18  18  Female      69.034243      163.852461  정상
19  19  Female      61.944246      113.649103  정상
20  20  Female      70.000000      200.000000  정상