In [ ]:
#.csv파일을 colab linux에 업로드
# df로 읽어보세요.

In [ ]:
# csv파일을 google drive에 업로드
# colab + google drive mount
# df2 로 읽어보세요

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv("/content/drive/MyDrive/python-data/whr.csv")
df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [5]:
dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
np.random.randn(6,4)

array([[ 0.13649531, -0.54948788,  0.56118054, -1.5427746 ],
       [ 0.67586146, -1.16590873, -0.23936729, -0.78172814],
       [ 0.77524969,  1.13374506, -1.43789987,  0.91657939],
       [ 1.20181324,  0.5071838 ,  0.38136705,  0.91424226],
       [ 1.46421058,  0.96067892,  0.82893807, -0.25854702],
       [ 1.99332806,  1.24130156,  0.07437921, -0.4625211 ]])

In [11]:
df = pd.DataFrame(np.random.randn(6,4), columns=['A', 'B', 'C', 'D'])
# df = pd.DataFrame(ndarray(values), column=['컬럼명', '컬럼명', ...])
df

          A         B         C         D
0 -1.304653 -1.913068 -0.860160  1.973999
1 -0.059984  2.223137 -0.005490 -1.830715
2  0.118388 -2.815575  0.108755  0.034613
3 -0.059785 -0.770798  0.039946 -0.738559
4 -1.468250  0.384031  0.331156 -1.944897
5 -0.859064 -1.142006  0.067183  0.877751

In [15]:
# df2 = pd.DataFrame(data(default) = ndarray(values), index = [indexlist], column=['컬럼명', '컬럼명', ...])
df2 = pd.DataFrame(data = np.random.randn(6,4), 
                   index = dates,
                   columns=['A', 'B', 'C', 'D'])
df2

                   A         B         C         D
2019-03-01 -0.961912  0.675844 -0.361814  0.909888
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-03  1.048282  1.016259 -0.254747  0.598556
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-05 -0.082713 -0.419588  2.703088  1.413280
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712

In [16]:
type(df2)

pandas.core.frame.DataFrame

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df2.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [36]:
df2[['A', 'B']].value_counts

<bound method DataFrame.value_counts of                    A         B
2019-03-01 -0.961912  0.675844
2019-03-02  0.179290  0.593118
2019-03-03  1.048282  1.016259
2019-03-04  0.226307  0.236759
2019-03-05 -0.082713 -0.419588
2019-03-06 -2.160071  0.722278>

In [21]:
in1 = df2.index
in1

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
in1[0]

Timestamp('2019-03-01 00:00:00', freq='D')

In [23]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [25]:
in2 = df.index
in2

RangeIndex(start=0, stop=6, step=1)

In [26]:
in2[2] 
#인데스를 가지고 만든 여러가지 객체들은 리스트처럼 똑같이 다루어도 크게 문제가 발생하지 않음

2

In [29]:
ts1 = in1[0]
ts1

Timestamp('2019-03-01 00:00:00', freq='D')

In [30]:
str(ts1)

'2019-03-01 00:00:00'

In [31]:
df['A']

0   -1.304653
1   -0.059984
2    0.118388
3   -0.059785
4   -1.468250
5   -0.859064
Name: A, dtype: float64

In [32]:
type(df['A'])

pandas.core.series.Series

In [33]:
type(df[["A", "B"]])

pandas.core.frame.DataFrame

In [38]:
a = df['A']
a

0   -1.304653
1   -0.059984
2    0.118388
3   -0.059785
4   -1.468250
5   -0.859064
Name: A, dtype: float64

In [39]:
a[0]

-1.3046527269763823

In [40]:
df2.values

array([[-0.9619118 ,  0.67584379, -0.36181405,  0.90988816],
       [ 0.17928975,  0.59311782,  1.07843133, -0.85763348],
       [ 1.04828198,  1.01625931, -0.25474671,  0.59855612],
       [ 0.22630742,  0.23675895, -1.06631648,  0.20078623],
       [-0.08271298, -0.41958791,  2.70308824,  1.41327953],
       [-2.16007124,  0.72227818, -0.170398  , -0.12971214]])

In [41]:
df2.describe

<bound method NDFrame.describe of                    A         B         C         D
2019-03-01 -0.961912  0.675844 -0.361814  0.909888
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-03  1.048282  1.016259 -0.254747  0.598556
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-05 -0.082713 -0.419588  2.703088  1.413280
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712>

In [43]:
df2.sort_index(ascending=False)

                   A         B         C         D
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712
2019-03-05 -0.082713 -0.419588  2.703088  1.413280
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-03  1.048282  1.016259 -0.254747  0.598556
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-01 -0.961912  0.675844 -0.361814  0.909888

In [44]:
df2.sort_values(by="A")

                   A         B         C         D
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712
2019-03-01 -0.961912  0.675844 -0.361814  0.909888
2019-03-05 -0.082713 -0.419588  2.703088  1.413280
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-03  1.048282  1.016259 -0.254747  0.598556

In [45]:
df2.sort_values(by="A", ascending=False)

                   A         B         C         D
2019-03-03  1.048282  1.016259 -0.254747  0.598556
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-05 -0.082713 -0.419588  2.703088  1.413280
2019-03-01 -0.961912  0.675844 -0.361814  0.909888
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712

In [47]:
df3 = df2.copy()
df3

                   A         B         C         D
2019-03-01 -0.961912  0.675844 -0.361814  0.909888
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-03  1.048282  1.016259 -0.254747  0.598556
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-05 -0.082713 -0.419588  2.703088  1.413280
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712

In [48]:
# df3을 B로 정렬해주세요!
df3.sort_values(by="B", inplace=True)
df3
# df3의 내용이 변경되어야 합니다.

                   A         B         C         D
2019-03-05 -0.082713 -0.419588  2.703088  1.413280
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-01 -0.961912  0.675844 -0.361814  0.909888
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712
2019-03-03  1.048282  1.016259 -0.254747  0.598556

In [49]:
# 변경된 df3에서 b, c 만 추출 df4로 저장
df3[["B", "C"]]

                   B         C
2019-03-05 -0.419588  2.703088
2019-03-04  0.236759 -1.066316
2019-03-02  0.593118  1.078431
2019-03-01  0.675844 -0.361814
2019-03-06  0.722278 -0.170398
2019-03-03  1.016259 -0.254747

In [51]:
# df3의 첫번째 행, 첫번째 열의 값을 1로 수정 
df3.iloc[0,0] = 1
df3

                   A         B         C         D
2019-03-05  1.000000 -0.419588  2.703088  1.413280
2019-03-04  0.226307  0.236759 -1.066316  0.200786
2019-03-02  0.179290  0.593118  1.078431 -0.857633
2019-03-01 -0.961912  0.675844 -0.361814  0.909888
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712
2019-03-03  1.048282  1.016259 -0.254747  0.598556

In [52]:
# df3에서 0행에서 2행까지 추출
df3.iloc[0:2]

                   A         B         C         D
2019-03-05  1.000000 -0.419588  2.703088  1.413280
2019-03-04  0.226307  0.236759 -1.066316  0.200786

In [54]:
# df3에서 2019-03-01, A열의 값을 추출
df3.loc['2019-03-01', 'A']

2019-03-01   -0.961912
Name: A, dtype: float64

In [55]:
# df3에서 A, C열의 전체 행을 추출
df3[["A", "C"]]

                   A         C
2019-03-05  1.000000  2.703088
2019-03-04  0.226307 -1.066316
2019-03-02  0.179290  1.078431
2019-03-01 -0.961912 -0.361814
2019-03-06 -2.160071 -0.170398
2019-03-03  1.048282 -0.254747

In [56]:
# df3에서 0번 행렬 추출
df3.iloc[0]

A    1.000000
B   -0.419588
C    2.703088
D    1.413280
Name: 2019-03-05 00:00:00, dtype: float64

In [58]:
# df3의 행렬의 크기를 추출
df3.shape

(6, 4)

In [68]:
# df3에서 5행 전체 열 추출
df3.iloc[5]

A    1.048282
B    1.016259
C   -0.254747
D    0.598556
Name: 2019-03-03 00:00:00, dtype: float64

In [61]:
# df3에서 4행부터 추출
df3.iloc[4:]

                   A         B         C         D
2019-03-06 -2.160071  0.722278 -0.170398 -0.129712
2019-03-03  1.048282  1.016259 -0.254747  0.598556

In [85]:
# df3에서 0, 3행, 1부터 2열까지 추출
df3.iloc[[0, 3], 1:3]

                   B         C
2019-03-05 -0.419588  2.703088
2019-03-01  0.675844 -0.361814

In [63]:
# df3에서 1,2,5행, 1,3열 추출
df3.iloc[[1,2,5],[1,3]]

# loc, iloc의 결과가 1행인 경우, Series로 리턴
# loc, iloc 의 결과가 여러행인 경우, DataFrame으로 리턴

                   B         D
2019-03-04  0.236759  0.200786
2019-03-02  0.593118 -0.857633
2019-03-03  1.016259  0.598556

In [79]:
df3.A

2019-03-05    1.000000
2019-03-04    0.226307
2019-03-02    0.179290
2019-03-01   -0.961912
2019-03-06   -2.160071
2019-03-03    1.048282
Name: A, dtype: float64

In [81]:
lista = list(df3.A.index)
lista

[Timestamp('2019-03-05 00:00:00'),
 Timestamp('2019-03-04 00:00:00'),
 Timestamp('2019-03-02 00:00:00'),
 Timestamp('2019-03-01 00:00:00'),
 Timestamp('2019-03-06 00:00:00'),
 Timestamp('2019-03-03 00:00:00')]

In [71]:
# A행을 추출하여 2번째 값을 추출
# => 결과가 1행인 경우, Series(list처럼 다루면 된다.ㅏ)
df3.A[1]

2019-03-05    1.000000
2019-03-04    0.226307
2019-03-02    0.179290
2019-03-01   -0.961912
2019-03-06   -2.160071
2019-03-03    1.048282
Name: A, dtype: float64

In [73]:
# A행과 C행을 추출하여 1번째 행, 1번째 열의 값을 추출
# => 결과가 2행이상인 경우, DataFrame임(df으로 다루면 된다)
df3[["A", "C"]].iloc[1,1]

-1.0663164766857995

In [77]:
type(df3.loc[:, "A"])

pandas.core.series.Series

In [87]:
np.random.randint(20)

19

In [99]:
import random
for _ in range(10):
  print(random.randint(1,5))
  print(np.random.randint(5))
# np의 경우: 0~5미만까지 나옴(5 미포함)
# random을 쓸 경우: 1~5까지 나옴(5 포함)

4
3
5
1
5
1
5
0
1
3
3
0
3
0
3
4
4
4
2
1