In [21]:
import pandas as pd
import numpy as np

In [22]:
dates = pd.date_range('20200625', periods=6)
dates

DatetimeIndex(['2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
               '2020-06-29', '2020-06-30'],
              dtype='datetime64[ns]', freq='D')

In [23]:
np.random.randn(6,4)

array([[ 0.94894782,  0.0524822 ,  0.75357717,  1.40265766],
       [-1.30450646, -1.48749475, -0.70461514, -0.46768119],
       [-0.18458891, -0.24856649,  1.58261394,  0.59583295],
       [ 0.36928429, -0.38830264,  3.23764673,  1.48814682],
       [ 1.83070324,  0.90384599,  0.96895436, -0.40353973],
       [-0.73758406, -0.67099473,  0.59555536, -0.89264958]])

In [24]:
df = pd.DataFrame(np.random.randn(6,4), columns=['A', 'B', 'C', 'D'])
# df = pd.DataFrame(ndarray(values), column=['컬럼명', '컬럼명', ...])
df

          A         B         C         D
0  0.529512  0.013154 -0.248240 -0.575082
1 -0.903633 -0.403140 -0.541145  1.114976
2 -0.591011  0.086953  2.393127 -0.995368
3  0.765612  1.900393  0.051393 -0.662570
4  0.257443 -0.274768 -1.126487 -1.308297
5  0.396133 -0.692762 -0.205202  0.379219

In [25]:
# df2 = pd.DataFrame(data(default) = ndarray(values), index = [indexlist], column=['컬럼명', '컬럼명', ...])
df2 = pd.DataFrame(data = np.random.randn(6,4), 
                   index = dates,
                   columns=['A', 'B', 'C', 'D'])
df2

                   A         B         C         D
2020-06-25  0.094025 -1.806594 -0.179807  0.078818
2020-06-26  1.015352  0.939969  0.132857  0.101466
2020-06-27  2.217247 -0.125059 -1.331207 -0.730427
2020-06-28  1.836485 -0.011821  0.045486  1.625395
2020-06-29  0.536040 -0.894712  1.819183  0.376436
2020-06-30 -0.523379 -0.344124  0.482767  0.288819

In [26]:
#df는 기본적으로 행, 열의 위치값을 가지고 있음.
# 기본적으로 가지고 있는 위치값(index)를 이용해서 조작하는 경우
# ilocp[를 사용
# 일부 그래프나 분석시 특정항목을 index항목으로 수동으로 설정해야 하는 경우가 있음.
# 특정 항목을 index항목으로 설정가능한 경우에는 unique한 값을 가지는 항목만 설정가능
#"unique/not null인 값을 가지는 항목"만 설정 가능
# user_id, bbs_id pk 조건과 일치

In [27]:
df2.reset_index(inplace=True)

In [28]:
df2

       index         A         B         C         D
0 2020-06-25  0.094025 -1.806594 -0.179807  0.078818
1 2020-06-26  1.015352  0.939969  0.132857  0.101466
2 2020-06-27  2.217247 -0.125059 -1.331207 -0.730427
3 2020-06-28  1.836485 -0.011821  0.045486  1.625395
4 2020-06-29  0.536040 -0.894712  1.819183  0.376436
5 2020-06-30 -0.523379 -0.344124  0.482767  0.288819

In [29]:
df2.set_index('index', inplace=True)
df2

                   A         B         C         D
index
2020-06-25  0.094025 -1.806594 -0.179807  0.078818
2020-06-26  1.015352  0.939969  0.132857  0.101466
2020-06-27  2.217247 -0.125059 -1.331207 -0.730427
2020-06-28  1.836485 -0.011821  0.045486  1.625395
2020-06-29  0.536040 -0.894712  1.819183  0.376436
2020-06-30 -0.523379 -0.344124  0.482767  0.288819

In [30]:
df2["E"] = df2.A + 1 #브로드캐스팅!
df2

                   A         B         C         D         E
index
2020-06-25  0.094025 -1.806594 -0.179807  0.078818  1.094025
2020-06-26  1.015352  0.939969  0.132857  0.101466  2.015352
2020-06-27  2.217247 -0.125059 -1.331207 -0.730427  3.217247
2020-06-28  1.836485 -0.011821  0.045486  1.625395  2.836485
2020-06-29  0.536040 -0.894712  1.819183  0.376436  1.536040
2020-06-30 -0.523379 -0.344124  0.482767  0.288819  0.476621

In [31]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [32]:
df2['E']

index
2020-06-25    1.094025
2020-06-26    2.015352
2020-06-27    3.217247
2020-06-28    2.836485
2020-06-29    1.536040
2020-06-30    0.476621
Name: E, dtype: float64

In [33]:
df2['F'] = 0
df2

                   A         B         C         D         E  F
index
2020-06-25  0.094025 -1.806594 -0.179807  0.078818  1.094025  0
2020-06-26  1.015352  0.939969  0.132857  0.101466  2.015352  0
2020-06-27  2.217247 -0.125059 -1.331207 -0.730427  3.217247  0
2020-06-28  1.836485 -0.011821  0.045486  1.625395  2.836485  0
2020-06-29  0.536040 -0.894712  1.819183  0.376436  1.536040  0
2020-06-30 -0.523379 -0.344124  0.482767  0.288819  0.476621  0

In [36]:
df2['G'] = range(0,6)
df2['G']

index
2020-06-25    0
2020-06-26    1
2020-06-27    2
2020-06-28    3
2020-06-29    4
2020-06-30    5
Name: G, dtype: int32

In [37]:
#인덱스를 G로
#인덱스를 변경하고 싶은 경우, 기존의 인덱스를 살리고 싶으면 먼저 reset_index()하고 나서 해야함
# or set_index(df2['G'])

# 사라지게 하고 싶을 경우, set_index('G')
df2.set_index(df2['G'], inplace=True)
df2

          A         B         C         D         E  F  G
G
0  0.094025 -1.806594 -0.179807  0.078818  1.094025  0  0
1  1.015352  0.939969  0.132857  0.101466  2.015352  0  1
2  2.217247 -0.125059 -1.331207 -0.730427  3.217247  0  2
3  1.836485 -0.011821  0.045486  1.625395  2.836485  0  3
4  0.536040 -0.894712  1.819183  0.376436  1.536040  0  4
5 -0.523379 -0.344124  0.482767  0.288819  0.476621  0  5

In [39]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [40]:
df

          A         B         C         D
0  0.529512  0.013154 -0.248240 -0.575082
1 -0.903633 -0.403140 -0.541145  1.114976
2 -0.591011  0.086953  2.393127 -0.995368
3  0.765612  1.900393  0.051393 -0.662570
4  0.257443 -0.274768 -1.126487 -1.308297
5  0.396133 -0.692762 -0.205202  0.379219

In [41]:
df3 = df.copy()
df3

          A         B         C         D
0  0.529512  0.013154 -0.248240 -0.575082
1 -0.903633 -0.403140 -0.541145  1.114976
2 -0.591011  0.086953  2.393127 -0.995368
3  0.765612  1.900393  0.051393 -0.662570
4  0.257443 -0.274768 -1.126487 -1.308297
5  0.396133 -0.692762 -0.205202  0.379219

In [49]:
# E 항목을 파생변수로 만드세요. 1~10중 랜덤한 값
import random
df3['E'] = random.randint(1,11)
df3

          A         B         C         D  E         F  H
0  0.529512  0.013154 -0.248240 -0.575082  4  0.281271  1
1 -0.903633 -0.403140 -0.541145  1.114976  4 -1.444779  1
2 -0.591011  0.086953  2.393127 -0.995368  4  1.802116  1
3  0.765612  1.900393  0.051393 -0.662570  4  0.817006  1
4  0.257443 -0.274768 -1.126487 -1.308297  4 -0.869044  1
5  0.396133 -0.692762 -0.205202  0.379219  4  0.190931  1

In [50]:
#F항목을 파생변수로 만드세요. A열과 C열의 합

df3['F'] = df3['A'] + df3['C']
df3

          A         B         C         D  E         F  H
0  0.529512  0.013154 -0.248240 -0.575082  4  0.281271  1
1 -0.903633 -0.403140 -0.541145  1.114976  4 -1.444779  1
2 -0.591011  0.086953  2.393127 -0.995368  4  1.802116  1
3  0.765612  1.900393  0.051393 -0.662570  4  0.817006  1
4  0.257443 -0.274768 -1.126487 -1.308297  4 -0.869044  1
5  0.396133 -0.692762 -0.205202  0.379219  4  0.190931  1

In [51]:
# H항목을 파생변수로 만드세요. 1로 설정

df3['H']= 1
df3

          A         B         C         D  E         F  H
0  0.529512  0.013154 -0.248240 -0.575082  4  0.281271  1
1 -0.903633 -0.403140 -0.541145  1.114976  4 -1.444779  1
2 -0.591011  0.086953  2.393127 -0.995368  4  1.802116  1
3  0.765612  1.900393  0.051393 -0.662570  4  0.817006  1
4  0.257443 -0.274768 -1.126487 -1.308297  4 -0.869044  1
5  0.396133 -0.692762 -0.205202  0.379219  4  0.190931  1

In [53]:
#Z항목을 파생변수로 만드세요ㅕ 1~9까지의 랜덤한 값
# df3['Z2'] = [random.randint(1, 10) for _ in range(6)]
import random
rand=[]
for _ in range(6):
    rand.append(random.randint(1, 10))
df3['Z'] = rand
df3

          A         B         C         D  E         F  H  Z
0  0.529512  0.013154 -0.248240 -0.575082  4  0.281271  1  1
1 -0.903633 -0.403140 -0.541145  1.114976  4 -1.444779  1  9
2 -0.591011  0.086953  2.393127 -0.995368  4  1.802116  1  8
3  0.765612  1.900393  0.051393 -0.662570  4  0.817006  1  6
4  0.257443 -0.274768 -1.126487 -1.308297  4 -0.869044  1  4
5  0.396133 -0.692762 -0.205202  0.379219  4  0.190931  1  6

In [56]:
# 리스트 내포: 결과가 항상 list
# list comprehesion
[random.randint(1, 10) for _ in range(6)]

[8, 10, 7, 4, 6, 1]

In [60]:
#['반복하면서 한번에 처리할 내용' for i in range(10)]
[i+1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
#['반복하면서 한번에 처리할 내용' for i in range(10) if i%2 ==0]

data3 = []
for i in range(10):
    if i%2==0:
        data3.append(i)
data3

[0, 2, 4, 6, 8]

In [69]:
[i for i in range(10) if i%2 ==0]

[0, 2, 4, 6, 8]

In [ ]:
#